body {
	background-color: #E5E5E5;
	font-family: Gilroy, sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #242424;
}

ul {
	margin: 0;
	padding: 0;
}

li {
  list-style-type: none; /* Убираем маркеры */
  
}

a {
	text-decoration: none;
	color: #474747;
}

h1 {
	font-size: 72px;
	margin: 0;
	line-height: 77px;
	font-family: Gilroy-Bold, sans-serif;
	font-weight: 700;
}

h2 {
	margin: 0;
	font-size: 28px;
	font-family: Gilroy-SemiBold, sans-serif;
	font-weight: 600;
	line-height: 32px;
	margin-bottom: 24px;
}

h3 {
	margin: 0;
	font-size: 28px;
	font-family: Gilroy-Light, sans-serif;
	line-height: 24px;
	font-weight: 300;
}

h4 {
	margin: 0;
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	font-size: 22px;
	line-height: 20px;
}

h5 {
	margin: 24px 0;
	font-family: Gilroy, sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
}

p {
	margin: 0;
	line-height: 1.4;
}

strong {
	font-family: Gilroy-Bold, sans-serif;
	font-weight: 700;
}

.content {
	max-width: 1366px;
	margin: 0 auto;
}

.content_center {
	padding-left: calc(316px + (100% - 1024px) / 3.97);
	padding-right: calc(227px + (100% - 1024px) / 5.99);
	box-sizing: border-box;
	max-width: 100%;
}

.content__header {
	height: 93px;
	border-bottom: 1px solid #EEBF3A;
}

.title_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	text-align: center;
}

.btn {
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #242424;
	line-height: 1.6;
	background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
	border: 1px solid transparent;
	border-radius: 58px;
	padding: 0 28px;
	box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
	outline: none;
	display: block;
}

.btn__wrap:hover .btn {
	color: black;
	background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
}

.btn__wrap:active .btn {
	color: #242424;
	background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
}

.btn_white {
	background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
	box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
}

.btn__wrap:hover .btn_white {
	color: black;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
}

.btn__wrap:active .btn_white {
	color: #242424;
	background: linear-gradient(180deg, #F1F1F1 1.56%, #FCFAFA 100%);
	box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
}

.btn__wrap {
	padding: 5px;
	width: max-content;
	border-radius: 58px;
	background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
	box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.btn__wrap:hover {
	background: linear-gradient(180deg, #FFDC81 0%, #E6AA00 100%);
	box-shadow: 7px 7px 16px #E0E0E0, -3px -4px 8px #FFFFFF, inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.btn__wrap:active {
	background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
	box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.btn__wrap_white {
	background: #F6F6F6;
	box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.btn__wrap_white:hover,
.btn__wrap_white:active {
	background: #F6F6F6;
	box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
}

.soc-net {
	padding: 7px;
	border-radius: 50%;
	background: linear-gradient(144.1deg, #FFE193 12.45%, #FFC93F 89.31%);
	overflow: hidden;
	box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #FFDB7E, inset 13px 22px 8px #F1C74F;
	display: flex;
	justify-content: center;
	align-items: center;
}

.soc-net_yellow {
	background: linear-gradient(144.1deg, #FFFFFF 12.45%, #FBFBFB 89.31%);
	box-shadow: 7px 7px 16px rgba(213, 213, 213, 0.6), -6px -6px 8px #FFFFFF, inset 13px 22px 8px #F3F3F3;
}

.soc-net_img {
	display: flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 49px;
	background: linear-gradient(150.26deg, #FFE28F 6.75%, #ECBD37 91.17%);
	box-shadow: 3px 3px 13px #C18F00;
	border-radius: 50%;
}

.img_VK_white,
.ing_Inst_white {
	filter: drop-shadow(0px 0px 6px #D19B00);
}

.soc-net:hover .soc-net_img {
	background: linear-gradient(150.26deg, #FFEAAD 6.75%, #FCE6A7 45.73%, #FFC726 91.17%);
	box-shadow: 3px 3px 13px #C18F00;
}

.soc-net:hover .img_VK_white,
.soc-net:hover .ing_Inst_white {
	filter: drop-shadow(0px 1px 3px rgba(144, 93, 0, 0.49));	
}

.soc-net:active .soc-net_img {
	background: linear-gradient(150.26deg, #FFDA71 6.75%, #FFCD40 43.24%, #FBC11B 91.17%);
	box-shadow: 2px 2px 6px #C18F00, inset 3px 3px 10px rgba(199, 129, 0, 0.59);
}

.soc-net:active .img_VK_white,
.soc-net:active .ing_Inst_white {
	filter: drop-shadow(0px 0px 5px #D19B00);	
}

.soc-net_img_white {
	background: linear-gradient(145.67deg, #FFFFFF 15.39%, #E4E4E4 88.3%);
	box-shadow: 3px 3px 13px #B1B1B1;
}

.soc-net:hover .soc-net_img_white {
	background: linear-gradient(145.67deg, #FFFFFF 15.39%, #FAFAFA 54.13%, #DADADA 88.3%);
	box-shadow: 3px 3px 13px #A3A3A3;
}

.soc-net:active .soc-net_img_white {
	background: linear-gradient(145.67deg, #E4E4E4 16.92%, #F6F6F6 88.3%);
	box-shadow: 3px 3px 13px #B2B2B2, inset 4px 4px 7px rgba(192, 192, 192, 0.25);
}

.soc-net__box {
	display: flex;
	justify-content: space-between;
	width: 154px;
	align-items: center;
}



.close {
	display: none;
}

.nav-top {
	position: relative;
}

.nav-top-menu {
	margin: 0 110px;
	padding-top: 39px;
	font-family: Gilroy-SemiBold, sans-serif;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 97px;
}

.nav-top-menu__item {
	display: inline-block;
	margin-right: 32px;
	line-height: 19px;
}

.nav-top-menu__box li:nth-child(2) {
	margin-right: 194px;
}

.nav-top-menu__link {
	color: inherit;
}

.nav-top-menu::after {
	content: "";
	background-image: url("img/dog1.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: absolute;
  right: 110px;
  top: 0;
  width: 52.5%;
  height: 713px;
  z-index: -1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  opacity: 0;
  transform: translateX(600px);
  animation-name: dog__slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes dog__slide {
	to {
		opacity: 1;
  	transform: translateX(0);
	}
}

.intro__background {
	position: relative;
	min-height: 746px;
	background-image: url("img/Я буду.png"), url("img/лучшим.png"), url("img/другом.png");
	background-repeat: no-repeat;
	background-size: 43.6%, 38.9%, 34.5%;
	background-position: 0 286px, 0px 478px, 296px 583px;
	animation: back__slide 1.5s linear forwards;
}

@keyframes back__slide {
	0% {
		background-position: 0 486px, 0px 678px, 296px 783px;
	}
}

.slide {
	transform: translateX(-400px);
	opacity: 0;
	animation: word__slide 2s linear 2s forwards;
}

@keyframes word__slide {
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.intro__content::after {
	content: "";
	background-image: url("img/cat 1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
  right: 276px;
  top: 382px;
  width: 483px;
  height: 469px;
  z-index: 1;
  transform: translateY(200px);
  opacity: 0;
  animation-name: cat__slide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes cat__slide {
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

.intro__content {
	box-sizing: border-box;
	margin:  0 110px;
	padding: 76px 0 50px 0;
	width: 46.6%;
}

.intro__annotation {
	display: block;
	margin: 2px 0 12px 0;
	font-family: Gilroy-Light, sans-serif;
	font-weight: 300;
	color: #6B6B6B;
}

.intro__text {
	font-family: Gilroy-SemiBold, sans-serif;
	font-weight: 600;
	color: #474747;
}

.intro__attention {
	max-width: 64.3%;
	font-size: 24px;
	color: #C78100;
	margin: 43px 0 44px 0;
	line-height: 1.21;
}

.about {
	background-color: #FFFFFF;
	padding: 55px 0;
	box-sizing: border-box;
	position: relative;
}

.about__content {
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	justify-content: center;
	position: relative;
}

.about__content::before {
	content: "";
	position: absolute;
	width: calc(50% - 63px);
	height: 521px;
	background-color: #FFC41E;
	left: -277px;
	z-index: 0;
}

.about__box {
	width: 50%;
	box-sizing: border-box;
}

.about__img-1 {
	border: 28.5px solid #FFC41E;
	border-radius: 50%;
	position: relative;
	left: 78px;
}

.about__img-2 {
	border: 8px solid #FFC41E;
	border-radius: 50%;
	position: absolute;
	left: 383px;
	top: 296px;
}

.about__text {
	padding: 73px 217px 82px 0px;
}

.about__title {
	color: #C78100;
	text-align: center;
	line-height: 31px;
	margin-bottom: 29px;
}

.about_ph {
	margin-top: 21px;
	line-height: 1.4;
}

.help {
	box-sizing: border-box;
	padding-top: 80px;
	text-align: center;
}

.help__content {
	box-sizing: border-box;
	padding: 47px 110px 53px 110px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.help__box {
	max-width: 166px;
	transform: translateY(200px);
	opacity: 0;
	transition-duration: 1s;
}

.help__box_slide {
	transform: translateY(0);
	opacity: 1;
	transition-duration: 2s;
}

.help__img-wrap {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #F6F6F6;
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
}

.help__img {
	width: 94px;
	height: 94px;
}

.help__link:hover .help__img-wrap {
	background: #FAFAFA;;
	border: none;
}

.help__link:active .help__img-wrap {
	background: linear-gradient(147.91deg, #F1F0F0 17.56%, #EEEEEE 52.29%, #F1F1F1 84.92%);
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: -6px -6px 16px rgba(224, 224, 224, 0.6), 6px 6px 16px rgba(255, 255, 255, 0.77);;
}

.help__text {
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	color: #474747;
	margin-top: 24px;
	line-height: 1.4;
}

.variants {
	box-sizing: border-box;
	position: relative;
}

.variants__header::after {
	content: "";
	position: absolute;
	left: calc(50% - 57px - (100% - 768px) / 12); 
	top: 21px;
	padding: 0 20px;
	width: calc(74px + (100% - 766px) / 6);
	height: 144px;
	background-image: url("img/Group 22.svg"); 
	background-color:  #E5E5E5;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.variants__content {
	display: flex;
	justify-content: center;
	padding-top: 142px;
	padding-bottom: 72px;
}

.variants__box {
	max-width: calc(189px + (100% - 766px) / 3);
	padding: 0 calc(23.5px + (100% - 766px) / 24);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.variants__title {
	margin-bottom: 20px;
}

.pets {
	position: relative;
}

.pets__content {
	box-sizing: border-box;
	padding: 32px 110px 20px 110px;
	margin-bottom: -44px;

}

.pets__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}

.pets__box-container {
	width: 368px;
	height: 555px;
	position: relative;
	margin-bottom: 44px;
}

.pets__box {
	width: 368px;
	height: 555px;
	box-sizing: border-box;
	padding: 16px 16.5px 20px 16.5px;
	background-color: #F6F6F6;
	border: 1px solid #D6D6D6;
	border-radius: 5px;
	box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
}

.pet__name {
	text-align: center;
	line-height: 38px;
	border-bottom: 1px solid #D6D6D6;
	min-height: 37px;
}

.pet__desc {
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	margin: 6px 0;
	color: #6B6B6B;
}

.pet__brief {
	margin: 0;
	height: 64px;
}

.pet__btn {
	display: flex;
	flex-direction: column;
	height: 101px;
	justify-content: space-between;
	align-items: center;
	width: 335px;
	margin-top: 25px;
	display: none;
}

.pets__box:hover {
	height: 700px;
	position: absolute;
	z-index: 1;
}

.pets__box:hover .pet__btn {
	display: flex;
}

.link {
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #AD7F00;
	line-height: 40px;
	border-bottom: 1px solid #AD7F00;
}

.pets__link-img {
	margin-left: 16px;
	position: relative;
	padding: 0;
	top: 3px;
}

.pets__nav {
	padding: 65px 304px 76px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.pets__nav-text {
	font-size: 18px;
	max-width: 596px;
}

.finanсe {
	background-color: #FFFFFF;
	position: relative;
}

.finance__header::after {
	content: "";
	position: absolute;
	left: calc(50% - 57px - (100% - 766px) / 12); 
	top: 46px;
	width: calc(74px + (100% - 766px) / 6);
	height: 93px;
	padding: 0 20px;
	background-color:  #FFFFFF;
	background-image: url("img/Group 5.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.finance__title {
	margin-top: 103px;
}

.finance__ann {
	display: block;
	margin: 0 auto;
	max-width: calc(358px + (100% - 766px) / 1.5);
	text-align: center;
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 27.5px;
	color: #6B6B6B;
}

.finance__content {
	box-sizing: border-box;
	padding: 40px 209px 56px 284px;
	display: flex;
	justify-content: space-between;
}

.finance__box {
	width: 389px;
}

.finance__title_l {
	margin-bottom: 24px;
}

.finance__text {
	line-height: 27.5px;
}

.finance__btn {
	margin-top: 24px;
	display: block;
}

.map {
	width: 400px;
	height: 400px;
	display: none;
}

.need {
	position: relative;
}

.need__header {
	height: 99px;
}

.need__header::after {
	content: "";
	position: absolute;
	left: calc(50% - 57px - (100% - 766px) / 12); 
	top: 49px;
	width: calc(74px + (100% - 766px) / 6);
	height: 100px;
	padding: 0 20px;
	background-color:  #E5E5E5;
	background-image: url("img/Group 6.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.need__content {
	padding-top: 63px;
	padding-bottom: 42px;
}

.need__title {
	margin-top: 40px;
}

.need__list {
	line-height: 28px;
	margin-bottom: 16px; 
}

.auto {
	position: relative;
}

.auto__header::after {
	content: "";
	position: absolute;
	left: calc(50% - 57px - (100% - 766px) / 12); 
	top: 35.5px;
	width: calc(74px + (100% - 766px) / 6);
	height: 115px;
	padding: 0 20px;
	background-color:  #E5E5E5;
	background-image: url("img/Group 7.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.auto__title {
	line-height: 24px;
}

.auto__content {
	padding-top: 103px;
	padding-bottom: 42px;
}

.auto__btn {
	margin-top: 24px;
}

.vol {
	position: relative;
}

.vol__header::after {
	content: "";
	position: absolute;
	left: calc(50% - 57px - (100% - 766px) / 12); 
	top: 40px;
	width: calc(74px + (100% - 766px) / 6);
	height: 106px;
	padding: 0 20px;
	background-color:  #E5E5E5;
	background-image: url("img/Group 12.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.vol__content {
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	justify-content: center;
	position: relative;
	padding: 53px 0 50px 0;
}

.vol__content::before {
	content: "";
	position: absolute;
	width: calc(50% - 48px);
	height: 521px;
	background-color: #FFC41E;
	left: -277px;
	z-index: 0;
}

.vol__box {
	width: 50%;
	box-sizing: border-box;
}

.vol__img {
	border: 28.5px solid #FFC41E;
	border-radius: 50%;
	position: relative;
	left: 100.5px;
}

.vol__text {
	padding-top: 113px;
	width: calc(217px + (100% - 384px) / 1.2)
}

.vol__title {
	line-height: 24px;
}

.vol__btn {
	margin-top: 24px;
}

.vol p {
	margin-bottom: 6px;
}

.news {
	background-color: #FFFFFF;
	padding: 54px 0;
}

.news__content {
	padding: 0 284px 0 304px;
	box-sizing: border-box;
}

.news__box {
	display: flex;
	align-items: center;
	margin: 40px 0 24px;
}

.news__img {
	padding-right: 35px;
	object-fit: contain;
}

.news__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.news__text p {
	margin-bottom: 6px;
}

.contact {
	padding: 55px 0;
}

.contact__text {
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}

.contact p {
	margin-bottom: 6px;
}

.contact__soc {
	margin: 40px 0 16px;
	display: block;
	line-height: 22px;
}

.thank {
	height: 741px;
	max-width: 1920px;
	background-image: url("img/Group 31.png"), url("img/36164 1.jpg");
	background-repeat: no-repeat;
	background-size: 615px 521px, 100% auto;
	background-position: 0 119px, 50% 50%;
	margin: 0 auto;
	background-blend-mode: soft-light;
}

.thank__box {
	box-sizing: border-box;
	width: 521px;
	height: 521px;
	position: relative;
	top: 119px;
	left: 94px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.thank__text {
	font-family: Gilroy-Bold, sans-serif;
	font-weight: 700;
	display: inline-block;
	width: 66.4%;
	font-size: 64px;
	line-height: 1.2;
	color: #FFFFFF;
}

.thank__img {
	display: inline-block;
	transform: rotate(18.79deg);
	position: relative;
	top: 40px;
}

.footer__content {
	box-sizing: border-box;
	padding: 40px 110px 16px;
}

.footer__nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer__box {
	box-sizing: border-box;
	font-size: 14px;
	line-height: 17px; 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 
}

.footer__box-1 {
	font-family: Gilroy-SemiBold, sans-serif;
	font-weight: 600;
	width: 880px;
	padding-bottom: 24px;
	text-decoration: underline;
}

.footer__box-2 {
	width: 144px;
	text-decoration: underline;
}

.footer__link {
	color: #242424;
}

.footer__sign {
	display: block;
	margin: 0 auto;
	width: 184px;
	font-size: 12px;
	color: #b3b3b3;
	text-align: center;
}

/** Дополнительные стили для страницы с подопечными. **/

.petlist__head {
	box-sizing: border-box;
	padding: 40px 110px 5px 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.petlist__link {
	display: flex;
	align-items: center;
	width: 246px;
}

.petlist__arrow {
	width: 24px;
	height: 24px;
	background-color: #FFC41E;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	margin-right: 8px;
}

.petlist__arrow img {
	width: 15.6px;
}

.petlist__back {
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #6B6B6B;
}

.petlist__title {
	margin: 0;
}

.petlist__filter {
	color: #6B6B6B;
}

.petlist__select {
	margin-left: 8px;
	width: 168px;
	height: 40px;
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #242424;
	padding-left: 16px;
	border-radius: 4px;
	border-color: #D6D6D6;
}

.petlist__content {
	margin-bottom: -70px
}

/* Дополнительные стили для форм */

h6 {
	margin: 0;
	font-size: 28px;
	font-family: Gilroy-SemiBold, sans-serif;
	font-weight: 600;
	line-height: 24px;
}




.form {
	width: 525px;
	height: max-content;
	padding: 30px 40px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-sizing: border-box;
	line-height: 22.4px;
	position: absolute;
  left: 0;
  top: 0;
  right: 0;
	margin: auto;
	box-shadow: 0px 0px 0px 9999px rgb(0 0 0 / 70%);
	display: none;
	z-index: 1;
}

.form_wide {
	width: 582px;
}

.form__header {
	min-height: 44px;
	border-bottom: 1px solid #EEBF3A;
	color: #B3B3B3;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.form__close {
	border: none;
	background-color: inherit;
	background-image: url("img/cross.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 20px;
	height: 20px;
}

.form__info {
	padding-bottom: 16px;
	color: #6B6B6B;
	font-size: 16px;
}

.form__box {
	padding-top: 16px;
	position: relative;
}

.form__label {
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	color: #474747;
	position: absolute;
	top: 6px;
	left: 15px;
	display: inline-block;
	padding: 0 4px;
	background-color: #FFFFFF;
}

.form__input {
	width: 100%;
	height: 40px;
	padding: 9px 16px;
	box-sizing: border-box;
	color: #6B6B6B;
	border-radius: 2px;
	border: 1px solid #D6D6D6;
}

.form__input:focus {
	border: 2px solid #FFC41E;
	outline: none;
}

.input__sign {
	font-size: 14px;
	line-height: 20px;
	color: #B3B3B3;
	position: relative;
	left: 16px;
}

.form__areabox {
	padding-top: 22px;
	padding-bottom: 8px;
}

.form__area {
	min-height: 76px;
	resize: none;
}

.form__contact {
	font-size: 14px;
	line-height: 20px;
	color: #474747;
	padding-top: 16px;
}

.form__contact p {
	padding-bottom: 19px;
}

.form__text {
	color: #B3B3B3;
	padding-bottom: 6px;
}

.form__text p {
	padding-bottom: 7px;
}

.form__btn {
	display: flex;
	justify-content: space-between;
	padding-top: 32px;
}

.form_dark {
	color: #242424;
}

.form__title {
	padding: 16px 0 4px;

}

.areabox_zero {
	padding-bottom: 0;
}

.form__radio {
	padding: 12px 0 8px;
}

input[type=radio] {
	display: none;
}

input[type="checkbox"] {
	display: none;
}

.radio__label {
	display: inline-block;
	position: relative;
	padding: 7px 98px 0 29px;
	color: #6B6B6B;
	font-size: 14px;
}

.radio__label::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #F9B800;
	border-radius: 50%;
	box-sizing: border-box;
	position: absolute;
	top: 11px;
	left: 0;
}

.radio:checked + .radio__label {
	color: #242424;
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
}

.radio:checked + .radio__label::before {
	border: 5px solid #F9B800;
}

.form__checkbox {
	font-size: 14px;
	padding: 22px 0 10px;
	line-height: 20px;
}

.checkbox__title {
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
	padding-bottom: 11px;
}

.checkbox__label {
	display: block;
	padding: 5px 0 5px 28px;
	color: #6B6B6B;
	position: relative;
}

.checkbox__label:before {
	content: "";
	box-sizing: border-box;
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid #F9B800;
	box-shadow: 3px 3px 4px rgba(113, 113, 113, 0.05), inset 3px 3px 2px rgba(189, 188, 188, 0.24);
	border-radius: 2px;
	position: absolute;
	left: 0;
	top: 7px;
}

.checkbox:checked + .checkbox__label {
	color: #242424;
	font-family: Gilroy-Medium, sans-serif;
	font-weight: 500;
}

.checkbox:checked + .checkbox__label::before {
	background-color: #F9B800;
}

.add_js .pets-to-form {
	display: flex;
	margin-top: 15px;
}

.add_js img {
	width: 95px;
	height: 95px;
	border-radius: 50%;
	margin-right: 15px;
}

.add_js h4 {
	border: none;
	min-height: 0;
	line-height: 20px;
}

.add_js .pets-to-form__desc {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}



/* МЕДИА ЗАПРОСЫ */


@media screen and (max-width: 1365px) {
	.nav-top-menu__box li:nth-child(2) {
		margin-right: 92px;
	}

	.about__content::before {
		width: 25.1%;
		left: 0;
	}

	.vol__content::before {
		width: 26.2%;
		left: 0;
	}

	.pets__list {
		justify-content: space-around;
	}

}


@media screen and (max-width: 1269px) {
	h1 {
		font-size: 64px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 24px;
	}

	.content {
		max-width: 1024px;
	}

	.content__header {
		height: 77px;
	}

	.nav-top-menu {
		padding-right: 69px;
	}

	.nav-top-menu__box li:nth-child(2) {
		margin-right: 52px;
	}

	.nav-top-menu::after {
	  height: 564px;
	  width: 504px;
	}

	.intro__background {
		min-height: 554px;
		background-position: 0 222px, 0px 364.5px, 219.2px 442.4px;
	}

	.intro__content::after {
	  right: 217px;
	  top: 286px;
	  width: 344px;
  	height: 326px;

	}

	.intro__content {
		padding: 33px 0 40px 0;
	}

	.intro__annotation {
		margin-top: 0;
		font-size: 14px;
	}

	.intro__text {
		font-size: 14px;
	}

	.intro__attention {
		font-size: 20px;
	}

	.about {
		padding: 36px 0;
	}

	.about__content::before {
		width: 38%;
		height: 362px;
		left: -122.2px;
	}

	.about__img-1 {
		border-width: 20px;
		left: 87px;
		width: 322.27px;
	}

	.about__img-2 {
		border-width: 5.9px;
		left: 298.84px;
		top: 202.6px;
		width: 158.36px;
	}

	.about__text {
		padding: 31px 189px 0px 0px;
	}

	.about__title {
		margin-bottom: 24px;
	}

	.about_ph {
		margin-top: 17px;
	}

	.help {
		padding-top: 64px;
	}
	
	.help__content {
		padding: 32px 110px 47px 110px;
	}

	.help__box {
		max-width: 140px;
	}

	.help__img-wrap {
		height: 110px;
		width: 110px;
	}

	.help__img {
		width: 67px;
		height: 67px;
	}

	.help__text {
		font-size: 14px;
		margin-top: 20px;
		line-height: 20px;
	}

	.variants__header::after {
		top: 28px;
		height: 98px;
	}

	.variants__content {
		padding-top: 110px;
		padding-bottom: 48px;
	}

	.variants__title {
		margin-bottom: 4px;
	}

	.pets__content {
		padding: 24px 110px 12px;
	}

	.pets__list {
		justify-content: space-between;
	}

	.pets__nav {
		padding: 48px 179px 79px;
	}

	.pets__nav-text {
		font-size: 16px;
		max-width: 504px;
	}

	.pets__box-container {
		height: 720px;
	}

	.pets__box {
		pointer-events: none;
	}

	.pet__btn {
		display: flex;
	}

	.finance__header::after {
		top: 44.92px;
		height: 64.22px;
	}

	.finance__title {
		margin-top: 87px;
		margin-bottom: 16px;
	}

	.finance__ann {
		font-size: 16px;
		line-height: 24px;
	}

	.finance__content {
		padding: 40px 179px 24px 227px;
	}

	.finance__box {
		width: 275px;
	}

	.finance__text {
		font-size: 14px;
		line-height: 20px;
	}

	.finance__text_largeLineHeight {
		line-height: 24px;
	}

	.need__header {
		height: 99px;
	}

	.need__header::after { 
		top: 64.87px;
		height: 68.25px;
	}

	.need__content {
		padding-top: 47px;
		padding-bottom: 25px;
	}

	.need__title {
		margin-top: 40px;
	}

	.need__list {
		line-height: 27px;
		margin-bottom: 16px; 
	}

	.auto__header::after {
		top: 36.84px;
		height: 80.32px;
	}

	.auto__content {
		padding-top: 68px;
	}

	.auto__btn {
		margin-top: 38px;
	}

	.vol__header::after {
		top: 39.5px;
		height: 75px;
	}

	.vol__content {
		padding: 87px 0 41px;
	}

	.vol__content::before {
		width: 38.1%;
		height: 390px;
		left: -122.5px;
	}

	.vol__img {
		border-width: 21px;
		left: 75.75px;
		width: 348px;
		height: 348px;
	}

	.vol__text {
		padding-top: 0;
	}

	.news {
		padding: 36px 0;
	}

	.news__content {
		padding: 0 158px 0 247px;
	}

	.news__box {
		margin: 28px 0 18px;
	}

	.news__img {
		padding-right: 56px;
	}

	.contact {
		padding: 48px 0;
	}

	.contact__text {
		font-size: 16px;
	}

	.thank {
		height: 555px;
		max-width: 1269px;
		background-size: 460.5px 390px, 100% auto;
		background-position: 0 89px, 50% 50%;
	}

	.thank__box {
		width: 390px;
		height: 390px;
		top: 89px;
		left: 70.5px;
	}

	.thank__text {
		width: 66.4%;
		font-size: 48px;
	}

	.thank__img {
		height: 53px;
		width: 53px;
	}

	.footer__content {
		padding-top: 24px;
	}

	.footer__box-2 {
		width: 122px;
	}

	.footer__sign {
		margin: 0;
	}

	.petlist__head {
		padding-bottom: 13px;
	}

	.petlist__content {
		margin-bottom: -44px;
		padding-bottom: 12px;
	}
}

@media (max-width: 1023px) {
	body {
		font-size: 14px;
	}

	.content {
		max-width: 768px;
	}

	.content__header {
		height: 43px;
	}

	.content_center {
		padding-left: 185px;
		padding-right: 185px;
	}

	h1 {
		font-size: 42px;
		line-height: 51px;
	}

	h2 {
		font-size: 20px;
	}

	h5 {
		font-size: 18px;
		line-height: 21px;
	}

	.soc-net {
		padding: 5;
	}

	.soc-net_img {
		width: 38px;
		height: 38px;
	}

	.img_VK {
		width: 24.49px;
		height: 14.7px;
	}

	.img_Inst {
		width: 22px;
		height: 22px;
	}

	.soc-net__box {
		width: 108px;
	}

	.nav-top {
		position: relative;
	}

	.nav-top-menu {
		padding-top: 24px;
		padding-right: 47px;
	}

	.nav__burger {
		display: block;
		
		
		padding: 0;
		z-index: 2;
	}

	.close {
	  width: 24px;
	  height: 16px;
	  border: 0;
	  padding: 0;
	  background-color: inherit;
	  display: flex;
	  justify-content: space-between;
	  flex-direction: column;
	  z-index: 3;
	  overflow: hidden;
	  cursor: pointer;
	  outline: none;
	}

	.close span {
		display: block;
		transition: all 0.6s;
		height: 2px;
		background-color: #242424;
		width: 100%;
	}

	.first {
		transform: translate(0px, 7px) rotate(45deg);
	}

	.mid {
		transform: scale(0);
	}

	.last {
		transform: translate(0px, -7px) rotate(-45deg);
	}

	.nav-top-menu__box::before {
		content: "";
		width: 100%;
		height: 80px;
		background-color: #FFC41E;
		position: absolute;
		left: 0;
		top: -80px;
	}

	.nav-top-menu__box {
		width: 100%;
		background: #FFFFFF;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 80px;
		left: 0;
		z-index: 2;
		display: none;
		visibility: visible;
		box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.7);
	}

	.nav-top-menu__item {
		font-size: 16px;
		border-bottom: 1px solid #EEBF3A;
		text-align: center;		
		padding: 24px;
		position: relative;
		margin: 0 calc(67px + (100% - 360px) / 9.48) !important; 
	}

	.nav-top-menu__link::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}

	.nav-top-menu::after {
	  height: 385px;
	  width: 344px;

	}

	.intro__background {
		min-height: 471px;
		background-position: 0 129px, 0px 238.3px, 151.4px 298.1px;
	}

	.intro__content::after {
	  right: 183px;
	  top: 192px;
	  width: 235px;
  	height: 222px;
	}

	.intro__content {
		padding: 12px 0 42px;
		width: 42%;
	}

	.intro__annotation {
		margin: 6px 0 8px;
	}

	.intro__text {
		font-size: 14px;
	}

	.intro__attention {
		font-size: 16px;
		margin-top: 40px;
	}

	.about {
		padding: 24px 0;
	}

	.about__content::before {
		width: 43%;
		height: 273px;
		left: -127.5px;
	}

	.about__img-1 {
		border-width: 15px;
		left: 68.73px;
		width: 243px;
	}

	.about__img-2 {
		border-width: 4.5px;
		left: 226.43px;
		top: 155.09px;
		width: 120px;
	}

	.about__text {
		padding: 0 110px 0 0;
	}

	.about__title {
		margin-bottom: 24px;
		padding: 11px;
		line-height: 24px;
	}

	.about_ph {
		margin-top: 16px;
	}
	
	.help__content {
		padding: 32px 90px 42px;
		margin-bottom: -32px;
		justify-content: center;
	}

	.help__box {
		margin: 0 28px 32px;
	}

	.variants__header::after {
		top: 12px;
		height: 62px;
	}

	.variants__content {
		padding-top: 71px;
	}

	.variants__title {
		margin-bottom: 8px;
	}

	.pets__list {
		justify-content: center;
	}

	.pets__nav {
		padding: 48px 110px 74px;
	}

	.pets__nav-text {
		font-size: 14px;
		max-width: 380px;
	}

	.finance__header::after {
		top: 22.85px;
		height: 40.3px;
	}

	.finance__title {
		margin-top: 87px;
		margin-bottom: 16px;
	}

	.finance__ann {
		line-height: 1.4;
	}

	.finance__content {
		padding: 40px 135px 16px 135px;
	}

	.finance__box {
		width: 237px;
	}

	.finance__title_l {
		font-size: 20px;
	}

	.need__header {
		height: 63px;
	}

	.need__header::after { 
		top: 41.12px;
		height: 43.65px;
	}

	.need__content {
		padding-top: 12px;
		padding-bottom: 42px;
	}

	.auto__header::after {
		top: 17.9px;
		height: 50.2px;
	}

	.auto__content {
		padding-top: 52px;
		padding-bottom: 39px;
	}

	.auto__btn {
		margin-top: 38px;
	}

	.vol__header::after {
		top: 19.4px;
		height: 47.2px;
	}

	.vol__content {
		padding: 67px 0 40px;
	}

	.vol__content::before {
		width: 43%;
		height: 300px;
		left: -127.5px;
		top: 132px;
	}

	.vol__img {
		border-width: 16.5px;
		left: 57.72px;
		top: 66.34px;
		width: 267px;
		height: 267px;
	}

	.news {
		padding: 24px 0;
	}

	.news__content {
		padding: 0 137px 0 205px;
	}

	.news__box {
		margin: 28px 0 16px;
	}

	.news__img {
		padding-right: 18px;
		width: 104px;
		height: 104px;
	}

	.contact {
		padding: 48px 0;
	}

	.contact__text {
		font-size: 14px;
	}

	.contact__soc {
		font-size: 16px;
		margin: 32px 0 24px;
	}

	.thank {
		height: 416px;
		background-size: 344.76px 292px, 100% auto;
		background-position: 0 67px, 50% 50%;
	}

	.thank__box {
		width: 292px;
		height: 292px;
		top: 67px;
		left: 52.76px;
	}

	.thank__text {
		width: 66.4%;
		font-size: 36px;
	}

	.thank__img {
		height: 39.7px;
		width: 39.7px;
		top: 20px;
	}

	.footer__content {
		padding-top: 24px; 
	}

	.footer__nav {
		margin-bottom: -20px;
		padding-bottom: 20px;
	}

	.footer__box-1 {
		width: 378px; 
		flex-direction: column;
		height: 111px;
		justify-content: flex-start;
	}

	.footer__box-2 {
		width: 61px;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
	}

	.footer__item {
		margin-bottom: 20px;
		margin-right: 56px;
	}

	.footer__sign {
		margin: 0 auto;
	}

	.petlist__title {
		order: -1;
		width: 100%;
		text-align: center;
		margin-bottom: 24px;
	}

	.petlist__head {
		padding-top: 46px;
	}
}

@media (max-width: 767px) {

	h1 {
		font-size: 30px;
		line-height: 36px;
	}

	h2 {
		font-size: 16px;
		line-height: 24px;
	}

	h3 {
		font-size: 20px;
	}

	.content {
		max-width: 640px;
	}

	.content__header {
		height: 39px;
	}

	.content_center {
		padding-left: calc(129px - (640px - 100%) / 2.83);
		padding-right: calc(129px - (640px - 100%) / 2.83);
	}

	.soc-net__box {
		width: 86px;
		display: inline-flex;
	}

	.soc-net {
		padding: 4px;

	}

	.soc-net {
		width: 40px;
		height: 40px;
	}

	.soc-net_img {
		width: 32px;
		height: 32px;
	}

	.img_VK {
		width: 19.6px;
		height: 11.8px;
	}

	.img_Inst {
		width: 17.6px;
		height: 17.6px;
	}

	.img_Burger {
		width: 24px;
		height: 16px;
	}

	.btn {
		font-size: 18px;
		line-height: 20px;
		padding-left: 22.5px;
		padding-right: 22.5px;
	}

	.btn_white {
		padding-left: 16px;
		padding-right: 16px;
	}

	.nav-top-menu {
		margin-left: calc(129px - (640px - 100%) / 2.83);
		margin-right: 0;
		padding-right: calc(129px - (640px - 100%) / 2.83);
	}

	.nav-top-menu::after {
	  height: 357px;
    width: calc(225px + (100% - 360px) / 3.22);
    right: 0;
	}

	.intro__background {
		min-height: 510px;
		background-position: 14px 122px, 13px 221.6px, 152.8px 277.1px;
		background-size: 48.4%, 43.2%, 38.4%;
	}

	.intro__content::after {
	  right: 95px;
	  top: 195px;
	  width: 165px;
  	height: 157px;
	}

	.intro__content {
		padding: 20px 0 47px;
		margin: 0 0 0 calc(129px - (640px - 100%) / 2.83);
		width: calc(212px + (100% - 360px) / 3.94);
	}

	.intro__annotation {
		margin: 0 0 20px;
		font-size: 12px;
	}

	.intro__attention {
		position: absolute;
		text-align: center;
		margin: 0 auto 20px;
		max-width: calc(100% - (30px + (100% - 360px) / 2.83) * 2);
		bottom: 77px;
	}

	.btn__wrap_intro {
		position: absolute;
		bottom: 47px;
		right: 0;
		left: 0;
		margin: 0 auto;
	}

	.intro__btn {
		padding-left: 44px;
		padding-right: 44px;
	}

	.about {
		padding: 16px 0;
	}

	.about__content::before {
		width: calc(283.5px + (100% - 360px) / 3.37);
		height: 193px;
		left: calc(-139.5px + (100% - 360px) / 3.68);
		top: 0;
	}

	.about__content {
		flex-direction: column;
	}

	.about__img-1 {
		border-width: 10.5px;
		left: calc(49px + (100% - 360px) / 1.76);
		width: 172px;
	}

	.about__img-2 {
		border-width: 3.5px;
		left: calc(159.78px + (100% - 360px) / 1.76);
		top: 106.09px;
		width: 84px;
	}

	.about__box {
		width: 100%;
	}

	.about__text {
		padding: 32px calc(129px - (640px - 100%) / 2.83) 0;

	}

	.about__title {
		margin-bottom: 16px;
		padding: 0;
		line-height: 20px;
	}

	.about_ph {
		margin-top: 16px;
		line-height: 20px;
	}

	.help {
		padding-top: 32px;
	}

	.help__content {
		padding: 34px 83px 27px;
		margin-bottom: -24px;
	}

	.help__box {
		margin: 0 8px 24px;
	}

	.help__img-wrap {
		height: 80px;
		width: 80px;
	}

	.help__img {
		width: 50px;
		height: 50px;
	}

	.variants__header::after {
		top: 13px;
		height: 52px;
	}

	.variants__content {
		padding: 50px calc(129px - (640px - 100%) / 2.83) 8px;
		flex-direction: column;
	}

	.variants__box {
		max-width: 100%;
		padding: 0 0 32px;
	}

	.variants__title {
		margin-bottom: 16px;
		text-align: center;
	}

	.pets__content {
		padding: 16px calc(30px + (100% - 360px) / 2) 22px;
	}

	.pets__box-container {
		height: 600px;
	}

	.pets__box {
		max-width: 300px;
		height: 495px;
		padding: 14px 14px 18px;
		margin-bottom: 22px;
	}

	.pets__img {
		width: 272px;
		height: 284px;
	}

	.pet__name {
		min-height: 35px;
		line-height: 36px;
	}

	.pet__brief {
		margin: 6px 0;
		line-height: 16px;
	}

	.pet__btn {
		width: 272px;
		height: 80px;
	}

	.pets__nav {
		padding: 40px calc(129px - (640px - 100%) / 2.83) 26px;
		flex-direction: column;
		align-items: center;
	}

	.pets__nav-text {
		font-size: 14px;
		max-width: 380px;
		padding-bottom: 6px;
	}

	.pets__soc-net {
		width: 112px;
	}

	.finance__header::after {
		top: 21.85px;
		height: 34.3px;
	}

	.finance__title {
		margin-top: 47px;
	}

	.finance__ann {
		margin: 0 calc(129px - (640px - 100%) / 2.83);
		max-width: 100%; 
	}

	.finance__content {
		padding: 8px 0 16px;
		flex-direction: column;
	}

	.finance__box {
		width: 100%;
		padding: 32px calc(129px - (640px - 100%) / 2.83) 0;
		box-sizing: border-box;

	}

	.finance__btn {
		margin: 16px auto 0;
	}

	.need__header {
		height: 55px;
	}

	.need__header::after { 
		top: 36.35px;
		height: 37.3px;
	}

	.need__content {
		padding-top: 8px;
		padding-bottom: 24px;
	}

	.need__title {
		margin-bottom: 16px;
	}

	.need__link {
		text-align: center;
	}

	.auto__header::after {
		top: 17.55px;
		height: 42.9px;
	}

	.auto__content {
		padding-top: 48px;
		padding-bottom: 24px;
	}

	.auto__title {
		text-align: center;
		margin-bottom: 16px;
	}

	.auto__btn {
		margin: 16px auto 0;
		display: block;
	}

	.vol__header::after {
		top: 18.9px;
		height: 40.2px;
	}

	.vol__content {
		padding: 47px 0 32px;
		flex-direction: column;
	}

	.vol__content::before {
		width: calc(285.5px + (100% - 360px) / 4.44);
		height: 212px;
		left: calc(-139.5px + (100% - 360px) / 3.68);
		top: 47px;
	}

	.vol__box {
		width: 100%;
	}

	.vol__text {
		width: 100%;
		padding: 24px calc(129px - (640px - 100%) / 2.83) 0;
		box-sizing: border-box;
	}

	.vol__title {
		text-align: center;
	}

	.vol__img {
		border-width: 11.6px;
		left: calc(41.9px + (100% - 360px) / 2);
		top: 0;
		width: 188.8px;
		height: 188.8px;
	}

	.vol__btn {
		margin: 16px auto 0;
		display: block;
	}

	.news {
		padding: 16px 0;
	}

	.news__content {
		padding: 0 calc(129px - (640px - 100%) / 2.83) 0;
	}

	.news__box {
		margin: 24px 0 16px;
		align-items: flex-start;
	}

	.news__img {
		padding-right: 16px;
		width: 79px;
		height: 79px;
	}

	.news__link {
		text-align: center;
	}

	.contact {
		padding: 32px 0 24px;
	}

	.contact__soc {
		margin: 0 24px 0 0;
		width: calc(211px + (100% - 300px) / 1.45);
		box-sizing: border-box;
	}

	.contact__soc-net {
		display: flex;
		margin-top: 24px;
	}

	.thank {
		height: 360px;
		background-size: 250px 212px, 100% auto;
		background-position: 0 74px, 50% 50%;
	}

	.thank__box {
		width: 212px;
		height: 212px;
		top: 74px;
		left: 38px;
	}

	.thank__text {
		width: 74.5%;
		font-size: 30px;
	}

	.thank__img {
		height: 32.65px;
		width: 32.65px;
	}

	.footer__content {
		padding-left: calc(129px - (640px - 100%) / 2.83);
		padding-right: calc(129px - (640px - 100%) / 2.83);
	}

	.footer__nav {
		margin-bottom: -20px;
		padding-bottom: 24px;
	}

	.footer__box-1 {
		width: 228px; 
		height: auto;
	}

	.footer__box-2 {
		width: 61px;
	}

	.footer__item {
		margin-right: 0;
	}

	.petlist__head {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 24px; 
	}

	.petlist__title {
		font-size: 20px;
	}

	.petlist__content {
		margin-bottom: -22px;
	}

	h6 {
		font-size: 22px;
	}

	.form {
		width: 640px;
		padding: 30px 170px;
	}

	.form__btn {
		flex-direction: column;
		align-items: center;
		height: 80px;
	}

	.label__name {
		display: none;
	}

}

@media (max-width: 639px) {

	.content {
		max-width: 360px;
	}

	.nav-top-menu::after {
		background-size: cover;
		background-position: -70px;
	}	

	.intro__background {
		background-position: 0 214px, 0 269.8px, 78.7px 300.9px;
	}

	.intro__content p:nth-child(3) {
		width: 158px;
	}

	.intro__content::after {
    right: 51px;
	}

	.intro__attention {
		bottom: 58px;
	}

	.btn__wrap_intro  {
		bottom: 28px;
	}

	.help__content {
		padding: 24px 22px 27px;
	}

	.thank {
		height: 267px;
		background-size: 250px 212px, cover;
		background-position: 0 39px, 50% 50%;
	}

	.thank__box {
		top: 39px;
	}

	.petlist__head {
		padding-bottom: 8px;
	}

	.petlist__title {
		order: 0;
		width: auto;
		margin-right: 62px;
		margin-bottom: 0;
	}

	.petlist__link {
		width: auto;
	}

	.petlist__back {
		display: none;
	}

	.petlist__filter {
		width: 100%;
		text-align: center;
		margin-top: 24px;
	}

	.petlist__content {
		padding-bottom: 12px;
	}

	.form {
		width: 360px;
		padding: 30px ;
	}
}

.visible_nav {
	display: flex;
}

.visible_form {
	display: block;
}

